#menu
{
  float: none;
  display: block;
}

#menu ul
{
  list-style-type: none;
}

#menu li
{
  float: left;
  padding-right: 20px;
}

#upper
{
  height: 300px;
}

#stocks
{
  height: 300px;
  width: 185px;
  float: left;
}

#prices
{
  height: 300px;
  width: 750px;
  float: left;
}

#lower
{
  background-color: purple;
  height: 200px;
}

#holder {
  float: left;
  height: 250px;
  width: 800px;
  position: relative;
  left: -60px;
  top: 10px;
}
