#user_nav
{
  position: absolute;
  top: 20px;
  left: 850px;
  display: inline;
  padding-right: 10px;
}

#user_nav td
{
  padding-left: 20px;
}

#active_account
{
  position: absolute;
  top: 155px;
  left: 880px;
}

#prices h1
{
  padding: 0px 0px 0px 50px;
  margin: 18px 0px 0px 0px;
}

#user_nav a
{
  color: white;
}

#menu
{
  float: none;
  display: block;
}

#menu ul
{
  list-style-type: none;
}

#menu li
{
  float: left;
  padding-right: 20px;
}

#upper
{
  height: 300px;
}

#leftside
{
  height: 300px;
  width: 185px;
  float: left;
}

#stocks
{
  height: 300px;
  overflow: auto;
}

#prices
{
  height: 300px;
  width: 750px;
  float: left;
}

#lower
{
  margin-top: 30px;
  height: 200px;
}

#holder {
  float: left;
  height: 250px;
  width: 800px;
  position: relative;
  left: -60px;
  top: 10px;
}

#lower table {
  text-align: center;
}

#lower td {
  padding-right: 40px;
  padding-left: 40px;
}

#buttons_to_buy
{
  display: inline;
  float: none;
}

.sell_button {
}

.buy_button {
  float: left;
  padding-right: 20px;
  padding-left: 10px;
}
