.formcontainer {
  	margin-left:auto;
	margin-right:auto;
	width: 50%;
	height: 200px;
	background:#FF0000;
}

.floatnone {
	float: none;
	background:#00FFFF;
}

.fieldcontainer {
	background:#00FF00;
	height: 100px;
}

.floatleft {
  	float:left;
}