<h1>Felhasználó</h1>
<% title "Részvény" %>

<p>
  <strong>Előnév:</strong>
  <%= @user.first_name %>
</p>
<p>
  <strong>Utónév:</strong>
  <%= @user.last_name %>
</p>

<p>
  <strong>E-mail cím:</strong>
  <%= @user.email %>
</p>