<h1>Felhasználó</h1>

<p>
  <strong>Előnév:</strong>
  <%= @user.first_name %>
</p>
<p>
  <strong>Utónév:</strong>
  <%= @user.last_name %>
</p>

<p>
  <strong>E-mail cím:</strong>
  <%= @user.email %>
</p>

<p>
  <%= link_to "Szerkesztés", @user.id.to_s + '/edit'  %>
</p>
