<table id="data">
            <tfoot>
                <tr>
                    <th>1</th>
                    <th>2</th>
                    <th>3</th>
                    <th>4</th>
                    <th>5</th>
                    <th>6</th>
                    <th>7</th>
                    <th>8</th>
                    <th>9</th>
                    <th>10</th>
                </tr>
            </tfoot>
            <tbody>
                <tr>
                    <%
                        current_price = 0
                        t = 10
                        i = 0

                        Transaction.find(:all, :conditions => "created_at >= '" + 10.days.ago.to_formatted_s(:db) + "'", :order => 'created_at').map { |trans|
                            if trans.orders.first.stock_id != @stock_id.to_i then next end
                            Rails.logger.info trans.created_at.to_s 

                            if trans.created_at >= (t-1).days.ago then
                              t -= 1
                              if i != 0 then current_price /= i end
                              Rails.logger.info "Current price: #{current_price}"
                              %>
                              <td><%= "#{current_price}" %></td>
                              <%
                              current_price = 0
                              i = 0
                            end

                            if trans.created_at >= t.days.ago and trans.created_at < (t-1).days.ago then
                              current_price += trans.orders.first.price
                              i += 1
                            end
                        }
                        if i != 0 then current_price /= i end
                        %>
                        <td><%= "#{current_price}" %></td>
                        <%
                    %>
                </tr>
            </tbody>
        </table>
  <div id="holder"></div>
