<table id="data">
            <tfoot>
                <tr>
                    <th>1</th>
                    <th>2</th>
                    <th>3</th>
                    <th>4</th>
                    <th>5</th>
                    <th>6</th>
                    <th>7</th>
                    <th>8</th>
                    <th>9</th>
                    <th>10</th>
                </tr>
            </tfoot>
            <tbody>
                <tr>
                    <%

                        10.times do |i|
                          current_price = 0
                          j = 0
                          Transaction.find(:all, :conditions => "created_at >= '" + (10-i).days.ago.to_formatted_s(:db) + "' and created_at < '" +
                                    (10-1-i).days.ago.to_formatted_s(:db) + "'", :order => 'created_at').map { |trans|
                                      if trans.stock_id != @stock_id.to_i then next end
                                      Rails.logger.info trans.created_at.to_s 
                                      j += 1
                                      current_price += trans.price
                                      if j >= 5 then break end
                                    }
                          if j != 0 then current_price /= j else current_price = 0 end
                          %>
                          <td><%= "#{current_price}" %></td>
                          <%
                        end
                    %>
                </tr>
            </tbody>
        </table>
  <div id="holder"></div>
