<table>
  <tr>
    <th>Name</th>
    <th>Price</th>
  </tr>
  <% for stock in Stock.all %>
    <tr>
      <td><%= link_to stock.name, :stock => stock.id %></td>
      <td><%= stock.price %></td>
    </tr>
  <% end %>
</table>

