<div id="bigbox">
  <div id="upper">
    <div id="stocks">
      <%= render "stocks" %>
    </div>
    <div id="prices">
      <%= render "pricegraph" %>
    </div>
  </div>
  <div id="lower">
      <%= render "my_stocks" %>
  </div>
</div>
